@import "../../stylesheets/variables.scss";

.page__container{
    background-image: linear-gradient(to right top, #009aec, #00acef, #00bdee, #26cdea, #58dbe6);    min-height: 100vh;
}

.main__container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    flex: 1 1;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.login_container{
    background-color:$basicColor100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 230px;
    width: 400px;
    border-radius: 15px;
    padding: 30px;
}

.login__form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.hidden{
    visibility: hidden;
    position: absolute;
    top: -5000px;
}

.login__title{
    margin-bottom: 20px;
    color:$secundaryColor800;
    font-weight: 400;
}

.form__input{
    padding: 10px;
    background-color: $secundaryColor100;
    border: 0;
    margin-bottom: 20px;
} 

.form__button{
    height: 35px;
    border: 0;
    background-color: $primaryColor200;
    background-color: #5ad1ea;
    color: $basicColor100;
    font-size: 20px;
    font-weight: bold;
    font-family: $secondaryFont; 
}