$basicColor100: #fff;
$basicColor500:#666;
$basicColor900: #000;

$primaryColor400: #055CEC;
$primaryColor200: #58DBE6;
$secundaryColor800: #202933;
$secundaryColor400: #9E938F;
$secundaryColor100: #EDF3F6;
$selectedColor400: rgba(151,81,216, 0.8);
$selectedColor100: rgba(166, 75, 252, 0.62);
$primaryFont: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
