@import "../../stylesheets/variables.scss";

.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    height: 60px;
    width: 100%;
    border-top: solid $secundaryColor400 1px;
    position: fixed;
    left:0px;
    bottom:0px;
}

.Footer__image{
    height: 50px;
    margin-right: 40px;
}